name: Release PDF

on:
  push:
    tags:
      - "v*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install LaTeX dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-base texlive-latex-extra texlive-fonts-recommended latexmk

      - name: Compile LaTeX document
        run: |
          latexmk handouts/presentacion-coloquio-2025-isra.tex

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: handouts/presentacion-coloquio-2025-isra.pdf

